@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-clientes {
  height: 100%;
}

.mySwiper {
  margin-left: auto;
  margin-right: auto;
}
